*{
    margin: 0;  
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}


html{
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    opacity: 1;
    pointer-events: auto;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
}
h2{
    padding-bottom: 0;
    font-size: bold;
    font-weight: 200;
    
}
h3{
    padding-bottom: 20px;
    font-size: bold;
    font-weight: 200;
}

/* CSS header*/


header{
    display: flex;
    flex-direction: column;
    
}
 
.inicio{
    text-align: end;
    margin: 10px;
}

.inicio-sesion{
    padding: 4px 8px;
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(218, 225, 225);
    

}

.inicio-sesion:hover{
    box-shadow: 0 6px 12px rgb(149, 154, 154);
}


/*CSS productos seccion frutas */

.contenido1 .contenido2{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
       
}



.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: medium;
    width: auto;
    height: auto;
    text-align: center;
    opacity: 1;
    pointer-events: auto;
    
}
.frutas{                           /*lo coloco aquí por lo de la cascada*/
    opacity: 0.3;

}
.producto-boton{
    background-color: white;
    font-family: 'Comfortaa', cursive;
    margin: 20px;
    width: 150px;
    height: 180px;
    box-shadow: 0 4px 8px rgb(218, 225, 225);
}
.producto-boton:hover {
    box-shadow: 0 10px 15px rgb(149, 154, 154);
}

.imagen{
    padding: 20px;
    text-align: center;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
}


/*CSS sección formulario - Ventana modal de solicitud de tarjeta*/

.formulario-pago {
  
    display: none;
    position: fixed;
    opacity: 0;
    pointer-events: none;
   

}
.prendeFormulario{
    display: flex;
    position: fixed;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

#formulario {
    font-family: 'Comfortaa', cursive;
    background-color: white;
    border-style: ridge;
    border-radius: 5%;
    width: 300px;
    height: 500px;
    padding: 20px;
    float: left;
    overflow: hidden;
    display: block;
    box-shadow: 0 10px 15px ;
    box-shadow: 0 4px 8px rgb(218, 225, 225);   
}

 .datos-ep datos-epp{
    text-align: left;

 }   

.datos{
    font-family: 'Comfortaa', cursive;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.input{
    border-radius: 2.5px;
    background-color: rgb(218, 219, 223);
    font-family: 'Comfortaa', cursive;
    font-size: xx-small;
    padding: 4px;
}



.tdc-img{
    width: 1px;
    height: 1px;
    
}
.datos1{
    margin: 10px;
}
  
   
/*CSS del footer*/

footer{
    display: flex;
    justify-content: center;

}

nav{
    display: flex;
    flex-direction: column;
    padding-right: 400px;
    margin-right: 0;
}


















